[submodule "jaeger"]
	path = jaeger
	url = https://github.com/os-observability/jaeger.git
[submodule "jaeger-operator"]
	path = jaeger-operator
	url = https://github.com/os-observability/jaeger-operator.git
[submodule "jaeger-ui"]
	path = jaeger-ui
	url = https://github.com/jaegertracing/jaeger-ui
